body {
    margin: 0;
    background: #1e1e1e;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    width: 360px;
    margin: 0 auto;
    box-sizing: border-box;
}

.content-section_theme_dark {
    background-color: black;
    color: white;
}

.content-section_theme_bright {
    background-color: yellow;
    color: black;
}

.header {
    display: flex;
    padding: 24px 20px;
    justify-content: space-between;
}

.header_menu-list {
    display: flex;
    flex-direction: column;
    line-height: 2em;
    list-style: none;
}

.header_logo-image {
    width: 115px;
}

.header_menu-link {
    color: white;
}

.cover {
    padding: 0px 20px;
    width: 360px;
    height: auto;
    background-image: url('images/cover.svg');
    background-size: 100% auto;
    background-position: center; 
    background-repeat: no-repeat; 
}

.accent-span-cover {
    display: block;
    font-family: 'EB Garamond', serif;
    font-size: 60px;
    font-weight: normal;

}

.content-section_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px 0px 40px;
}

.content-section_list-accent {
    font-weight: bold;
}

.cards-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
    gap: 30px; 
    justify-content: center; 
}

.card {
    width: 320px;
    height: auto;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
}

.card_theme_dark {
    background-color: #2d2d2d;
    color: white;
}

.card_theme_bright {
    background-color: #ffff00;
    color: black;
}

.how-to {
    background-color: black;
    padding: 30px 0px 50px 0px;
    color: white;
}  

.card_author-photo {
    width: 100px;
    height: 100px;
    margin: 0 0 8px 0;
}

.card_author-name {
    font-weight: bold;
    font-size: 16px;
}

.card_author {
    display: flex;
    flex-direction: column;
}

.card_title {
    padding: 12px 0px;
    font-weight: normal;
    font-size: 19px;
}

.card_text {
    font-family: 'EB Garamond', serif;
    line-height: 1.2;
    font-size: 19px;
}

.card_text-only {
    padding: 0px 0px 12px 0px;
    line-height: 1.5;
}

.content-section_subtitle {
    padding: 20px 20px;
    /* background-color: brown; */
}

.content-section_introduction {
    padding: 30px 20px;
    text-align: left;
    line-height: 1.4;
    font-size: 19px;
  }

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.accent-span {
    font-family: 'EB Garamond', serif;
    display: block;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    color: white;
    position: relative;
    
}

.footer_copy {
    font-weight: bold;
}

.footer_links{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}

.footer_links a {
    color: white;
    text-decoration: none;
}

.footer::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 1px; 
    background-color: #ffff00; 
  }


